<div class="container mt-5 mb-3 border border-light p-3">
  <form action="">
<div class="row">
  <h3 class="text-light text-center mb-3">Add New Resturant Details</h3>
  <div class="col-md-6">
          <div class="mb-2">          
            <input [(ngModel)]="id" name="id" type="text" class="form-control"  placeholder="Resturant Id" >
          </div>
          <div class="mb-2">
            <input  [(ngModel)]="neighborhood" name="neighborhood" type="text" class="form-control"  placeholder="Resturant Neighborhood" >
          </div>
          <div class="mb-2">
            <input  [(ngModel)]="photograph" name="photograph" type="text" class="form-control"  placeholder="Resturant Image" >
</div>
<div class="mb-2">
     <label class="text-light mb-2" for="">Operating Hours</label>
      <input  [(ngModel)]="Monday" name="Monday" type="text" class="form-control mb-2"  placeholder="Monday" >
      <input  [(ngModel)]="Tuesday" name="Tuesday" type="text" class="form-control mb-2"  placeholder="Tuesday" >
      <input  [(ngModel)]="Wednesday" name="Wednesday" type="text" class="form-control mb-2"  placeholder="Wednesday" > 
      <input  [(ngModel)]="Thursday" name="Thursday" type="text" class="form-control mb-2"  placeholder="Thursday" >
      <input  [(ngModel)]="Friday" name="Friday" type="text" class="form-control mb-2"  placeholder="Friday" >
      <input  [(ngModel)]="Saturday" name="Saturday" type="text" class="form-control mb-2"  placeholder="Saturday" >
      <input  [(ngModel)]="Sunday" name="Sunday" type="text" class="form-control mb-2"  placeholder="Sunday" >
</div>
</div>
   <div class="col-md-6">
    <div class="mb-2">
      <input  [(ngModel)]="rName" name="rName" type="text" class="form-control"  placeholder="Resturant Name" >
    </div>
    <div class="mb-2">
      <input  [(ngModel)]="address" name="address" type="text" class="form-control"  placeholder="Resturant Address" >
    </div>
    <div class="mb-2">
      <input  [(ngModel)]="cusine_type" name="cusine_type" type="text" class="form-control"  placeholder="Resturant Cusine Type" >
    </div>
    <div class="mb-2">
      <label class="text-light mb-2" for="">Review</label>
      <input  [(ngModel)]="rvname" name="rvname" type="text" class="form-control mb-2"  placeholder="Name" >
      <input  [(ngModel)]="date" name="date" type="text" class="form-control mb-2"  placeholder="Date" >
      <input  [(ngModel)]="rating" name="rating" type="text" class="form-control mb-2"  placeholder="Rating" >
      <input  [(ngModel)]="comments" name="comments" type="text" class="form-control mb-2"  placeholder="Comments" >
    </div>
    <div class="mb-2">
      <label class="text-light mb-2" for="">Location</label>
      <input  [(ngModel)]="lat" name="lat" type="text" class="form-control mb-2"  placeholder="Latitude" >
      <input  [(ngModel)]="lng" name="lng" type="text" class="form-control mb-2"  placeholder="Longitude" >
      </div>
    </div>
    <div class="text-center mt-3">
      <button (click)="addProduct()" type="submit" class="btn btn-dark">Add Resturant</button>
    </div>
   </div>
  </form> 
  </div>   
   
   
   
